.leftimage {
    width: 450px ;
    height: 350px ;
    float: left; 
}

.rightimage { 

    width: 175px ;
    height: 175px;
    float: right;
    display: block;
}
.header {
    padding: 15px; 

}
.comparison {
    width:450px; 
    height: 450px; 
    margin: auto;
    display: block;
}

.pageimage {
    width: 500px;
    height: 400px;
    margin:auto; 
    display: block; 
}
.navchange{ 
    background-color: white;
    color: black !important;
    padding: 5px;
}
.navbar {
    
    background: teal

}
@media only screen and (max-width: 600px) {
    .navchange{
    background-color: teal;
    color: white !important; }}